
/* Bootstrap override */
:root {

  /* Colors */
  --inv-light-color: #d8d8d8;
  --inv-dark-color: #1e55a5;
  --inv-secondary-color: #ed5267;
  --inv-support-color: #bcbcbc;

  /* Font */
  --inv-font-size: .9rem;

  --bs-dark-rgb: var(--inv-dark-color);
  
}

body {
  margin: 0;
  font-size: var(--inv-font-size);
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;  

  background-image: url('../public/images/backgrounds/background.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Headers */
h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
}

h1, h2, h3 {
	margin-bottom:1.2rem;
  color: #1e55a5;
  opacity: 0.25;
  letter-spacing: -0.1rem;
}

/* List */
ul, li {
  list-style-type: none;
  padding: 0 .5rem;
}

/* Layouyt */
.right {
  float: right;
}

/* Remove default browser outline */
*:focus {
  outline: none;
}


/* Buttons */
button {
  margin-top: .6em;
	padding: .6rem;
	font-weight: 600;
  min-width: 200px;
  border: none;

  border-radius: var(--bs-border-radius);
}

.btn-primary {
  color: #fff;
  background-color: var(--inv-secondary-color);
  opacity: 0.9;
}

.btn-primary:hover {
  opacity: 1;
}

.btn-primary:active {
  opacity: 1;
  background-color: var(--inv-light-color);
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.bg-dark {
  background-color: var(--bs-dark-rgb) !important;
}


/* Effects */
div .box-shadow {
  box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.1), 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

div .box-container {
  padding: .5rem 2rem;
  background-color: #fbfbfb;
  /* border: 1px solid var(--bs-gray-300); */
  border-radius: var(--bs-border-radius);
  width: fit-content;
  min-width: 600px;
}