.result-fixed-income-comparison-panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;    
    justify-items: center;
    align-items: center;
}

.result-fixed-income-comparison-panel>div {
    width: fit-content;
    min-width: 300px;
    height: 100%;
    padding: 1rem 1rem;
    border-radius: var(--bs-border-radius);
    box-shadow: var(--inv-inner-shadow);
    text-align: center;
    vertical-align: middle;
}

.result-fixed-income-comparison-panel>div.principal {
    background-color: #2089C9;
}

.result-fixed-income-comparison-panel>div.interest {
    background-color: #1FBF78;
}

.result-fixed-income-comparison-panel>div.total-amount {
    background-color: var(--bs-gray-600);
}


.result-fixed-income-comparison-panel p {
    margin-bottom: 0;
    font-weight: bold;
    color: var(--bs-light);
}

.result-fixed-income-comparison-panel .value {
    font-size: x-large;
}