.layout-container {
    display: flex;
    flex-direction: column;
}

.layout-body {
    display: flex;
    height: calc(100vh - 3rem); /* subtracting header height */
}

header {
    height: 3rem;
}

.menu-open, .menu-closed {
    overflow-y: auto;
    width: 250px; /* arbitrary width, can be adjusted */
    padding: 2rem 0;

    background-color: var(--bs-dark-rgb);
    margin: 2rem .5rem .5rem;
    border-radius: var(--bs-border-radius);

    color: var(--bs-light);
}

.menu-closed {
    width: 0;
}

.content {
    flex: 1;
    overflow-y: auto;
    padding: 0 1rem;
}

div .logo img {
    padding: 5px;
    width: 150px;
    cursor: pointer;
    opacity: .8;
}

div .logo img:hover {
    opacity: 1;
}

