name: Deploy Web Application to Production

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

on:
  push:
    branches:
      - main
    paths:
      - web/**
      - .github/actions/**
      - .github/workflows/web-hotfix-workflow.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:

  build_and_deploy_web:
    runs-on: ubuntu-latest
    environment: prod 
    permissions: write-all
    if: startsWith(github.ref, 'refs/tags/v')
    steps:

    - name: Check version
      shell: bash
      run: |
        echo "Releasing version ${{ github.ref_name }}"

    #checkout code
    - name: Git clone the repository
      uses: actions/checkout@v4

    # Build web application
    - name: Build Web App
      uses: ./.github/actions/build-web

    # Deploy package on AWS
    - name: Deploy on AWS
      uses: ./.github/actions/deploy-web
      with:
        environment: prod
        bucketNamePrefix: invistus-web
        roleToAssume: ${{ secrets.AWS_OIDC_ROLE }}
        awsRegion: ${{ secrets.AWS_REGION }}
        awsCertificateARN: ${{ secrets.AWS_CERTIFICATE_ARN }}
        domainName: ${{ vars.DOMAIN_NAME }}

    # Create Release
    - name: Create Github Release Statement
      uses: ./.github/actions/create-github-release
      with:
        githubToken: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ github.ref_name }}